html * {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("../assets/images/milkyWay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 1280px;
  height: 720px;
  object-fit: cover;
}

li {
  list-style: none;
}

button img {
  width: 40px;
  height: 62px;
}

ul {
  padding: 0;
}

nav {
  justify-content: center;
  background-color: #2a2929;
  border-radius: 40px;
  width: 1000px;
  height: 90px;
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
}
h1 {
  color: white;
  margin: 10px;
}

p {
  color: white;
  margin: 10px;
  font-size: 20px;
}

.leftArrow {
  cursor: pointer;
}

.rightArrow {
  cursor: pointer;
  transform: scaleX(-1);
}

.rightArrow img:hover {
  opacity: 30%;
  border-radius: 10px;
  transition: 0.5s;
}

.leftArrow img:hover {
  opacity: 30%;
  border-radius: 10px;
  transition: 0.5s;
}

.leftArrow img {
  transition: 0.5s;
}

.rightArrow img {
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navImages {
  display: flex;
  flex-direction: row;
}

.navImages button img {
  height: 60px;
  width: 160px;
  border-radius: 40px;
  display: flex;
  flex-grow: 1;
  transition: 0.4s;
}

.mainImage img {
  border-radius: 40px;
}

.mainImage .description {
  height: 150px;
  position: absolute;
  background-color: #0000008f;
  border: solid 1px white;
  width: 640px;

  border-radius: 40px;
  padding-left: 10px;
}

.navImages button img:hover {
  height: 80px;
  width: 180px;
  transition: 0.4s;
}

.navImages button {
  position: relative;
}

.navImages button:hover::before {
  content: attr(title);
  position: absolute;
  color: white;
  border: solid 2px white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  left: 50%;
  top: -80px;
  transform: translateX(-50%);
}
.active img {
  height: 80px !important;
  width: 180px !important;
  transition: 0.4s;
}
